<h1>Voting</h1>

<h4>Currently being purchased</h4>
<table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Last Purchased</th>
      </tr>
    </thead>
<tbody>

<% @snacks.current_purchases.each do |snack| %>
<tr>
	<td><%= snack.name %></td>
	<td><%= snack.last_purchased_date %></td>
</tr>
<% end %>

</tbody>
</table>
<h4>Suggested for purchase for <%= get_following_month %>.</h4> 
<ul class="list-group">
<% @snacks.not_purchased.each do |sug| %>
	<li class="list-group-item">
		<span class="snack_name"><%= sug.name %></span> <span class="badge"><%= "#{sug.votes_point}" %> 
		<%= (sug.votes_point > 1) ? "votes" : "vote"  %></span>

		<%= form_tag url_for(controller: "suggestions", action: "upvote") do %>
			<% if current_user.voted?(sug)%>
				<%= button_tag "Like",  {class: "btn btn-danger btn-sm", disabled: true } %> (You may only vote once)<br>
			<% else %>
				<%= button_tag "Like", class: "btn btn-success btn-sm" %><br>
			<% end %>
			<%= hidden_field_tag "up", value: sug.name %>
		<% end %>
	</li>
<% end %>
</ul>