<h1>Suggestions</h1>

<ul style="display: none;">
<% @suggestions.not_purchased.each do |sug| %>
	<li>
		<span class="snack_name"><%= sug.name %></span> <%= "[#{sug.votes_point} votes]" %>
		<span class="snack_location"><%= sug.purchased_locations %></span>
	</li>
<% end %>
</ul>

<p>Add a snack to the suggestions list</p>
<%= form_tag url_for(controller: "suggestions", action: "suggest_snack", format: :json) do %>
  	<div class="form-group">
		<%= select_tag "location", options_for_select(@suggestions.not_purchased.map {|e| e.name }.unshift(["Select a suggested snack",nil]), "Select a suggested snack"), id: "snack_select" %>
	</div>

  	<div class="form-group">
    	<%= label_tag "Suggest a snack" %>
    	<%= text_field_tag 'snack_suggestion', "", class: "form-control" %>
  	</div>

	<div class="form-group">
		<%= label_tag "Where can it be purchased?" %>
		<%= text_field_tag "suggestion_purchase_location", "", class: "form-control"  %>
	</div>

	<div class="form-group">
		<%= select_tag "location", options_for_select(nerdery_locations, "Bloomington, MN") %>
	</div>

	<%= submit_tag "Suggest Snack", id: "suggest_snack_btn", class: "btn btn-primary" %>
<% end %>