<%= form_for(@snack) do |f| %>
  <% if @snack.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@snack.errors.count, "error") %> prohibited this snack from being saved:</h2>

      <ul>
      <% @snack.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :optional %><br>
    <%= f.check_box :optional %>
  </div>
  <div class="field">
    <%= f.label :purchased_locations %><br>
    <%= f.text_field :purchased_locations %>
  </div>
  <div class="field">
    <%= f.label :purchased_count %><br>
    <%= f.number_field :purchased_count %>
  </div>
  <div class="field">
    <%= f.label :last_purchased_date %><br>
    <%= f.text_field :last_purchased_date %>
  </div>
  <div class="field">
    <%= f.label :uid %><br>
    <%= f.number_field :uid %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
