<p id="notice"><%= notice %></p>

<h1>Snacks</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Optional</th>
      <th>Purchased locations</th>
      <th>Purchased count</th>
      <th>Last purchased date</th>
      <th>Uid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @snacks.each do |snack| %>
      <tr>
        <td><%= snack.name %></td>
        <td><%= snack.optional %></td>
        <td><%= snack.purchased_locations %></td>
        <td><%= snack.purchased_count %></td>
        <td><%= snack.last_purchased_date %></td>
        <td><%= snack.uid %></td>
        <td><%= link_to 'Show', snack %></td>
        <td><%= link_to 'Edit', edit_snack_path(snack) %></td>
        <td><%= link_to 'Destroy', snack, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Refresh Snacks', new_snack_path, class: "btn btn-success" %>


