<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @snack.name %>
</p>

<p>
  <strong>Optional:</strong>
  <%= @snack.optional %>
</p>

<p>
  <strong>Purchased locations:</strong>
  <%= @snack.purchased_locations %>
</p>

<p>
  <strong>Purchased count:</strong>
  <%= @snack.purchased_count %>
</p>

<p>
  <strong>Last purchased date:</strong>
  <%= @snack.last_purchased_date %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @snack.uid %>
</p>

<%= link_to 'Edit', edit_snack_path(@snack) %> |
<%= link_to 'Back', snacks_path %>
